.APIConsole
	position: fixed
	bottom: 0
	left: 0
	right: 0
	background: #333
	padding: 5px
	font-size: 12px
	font-family: monospace
	z-index: 4
	text-overflow: clip
	white-space: nowrap
	overflow: hidden
