.Post
	max-width: 900px
	margin: 0 auto

	h1
		text-align: center
		font-size: 40px

	.date
		color: $primary
		font-size: 24px
		display: block
		text-align: center
		margin: -25px 0 25px 0

	img
		margin: 15px 0
