.Speakers
	list-style: none
	padding: 0
	margin: -30px
	display: flex
	flex-wrap: wrap
	align-items: stretch
	flex-grow: 1

	li
		position: relative
		@include display(flex)
		@include flex (1 1 33%)
		background-size: cover
		@include transition(all 100ms linear)
		min-height: 250px

		&:hover
			@include filter(brightness(1.1))

		&:before
			z-index: 0
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(47,67,88, 0.5);

		h2
			font-weight: normal
			font-weight: 600
			text-transform: uppercase
			color: white
			z-index: 10

		a
			display: flex
			align-items: center
			justify-content: center
			flex-grow: 1
			color: white
			text-decoration: none
