.Sponsors
	max-width: 800px
	margin: 20px auto
	padding: 0 5%

	h1
		font-weight: 600
		text-align: center
		font-size: 40px
		line-height: 1.2
		color: #fff
		margin-bottom: 20px

	h3 
		font-weight: 600
		text-align: center
		font-size: 28px
		line-height: 1.2
		margin: 80px 0 30px

	.sponsorship-packages
		border: 2px solid white
		padding: 15px
		color: #fff
		margin: 0 auto

	ul.sponsor-tiers
		list-style: none
		padding: 0
		margin: 0

		li

			ul
				margin: 0
				padding: 0

				li	
					@include display(flex)
					padding: 10px

					.sponsor-logo
						background: #fff
						border-radius: 5px
						padding: 20px
						margin-right: 20px
						@include flex(0 0 200px)
						height: 200px
						@include display(flex)
						@include align-items(center)
						@include justify-content(center)

						img
							max-width: 100%
							height: auto!important

					.sponsor-desc
						@include flex(1)

					h4
						font-weight: 800
						margin: 0
