.BuyYourTicket {
	background: $primary url('../assets/images/bg-circles.png');
	background-size: cover;
	background-position: 60% 50%;
	color: white;
	h2,
	p {
		color: inherit;
	}

	h2 {
		text-transform: uppercase;
	}

	p {
		padding-bottom: 24px;
		max-width: 80%;
		text-align: center;
		margin: 0 auto;
	}
}
