.Post {
	margin: 0 auto;
	@include outer-container();
	* {
		text-align: left;
	}
	.inner {
		padding: 0;
		@include content-column;
	}
	.headline {
		margin-bottom: 2rem;
		text-align: left;
		h1 {
			line-height: 1.3;
			margin: 0 0 1rem 0;
		}
	}
	.date {
		color: $ador-black;
		text-transform: none;
	}
	img {
		margin: 15px auto;
	}
	.wp-caption img {
		margin-bottom: 0;
	}
	.alignnone {
		margin-left: 0;
		margin-right: 0;
	}
	[class^="wp-image"] {
		display: block;
	}
	ul {
		list-style: circle;
	}
}

