.Speakers {
	background: white;
	.inner {
		padding-bottom: 48px;
		text-align: center;
	}

	p {
		@include content-column;
		@include omega();
		line-height: 24px;
	}
}

.Page--content {
	> section.Speakers {
		padding: 0;
	}
}

.SpeakerList {
	@include align-items(center);
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(center);
	padding: 0;
	text-align: center;

	.speaker {
		background: $ador-d-blue;
		font-family: $f_sans;
		font-size: 24px;
		font-weight: bold;
		min-height: 210px;
		text-transform: uppercase;
		width: 20%;

		@media #{$tablet_mq} {
			width: 50%;
		}

		@media #{$mobile_mq} {
			width: 100%;
		}

		@include ador-background-image('assets/images/ador-poststatus-41.jpg');

		& + .speaker {
			@include ador-background-image('assets/images/ador-poststatus-12.jpg');
		}

		&:hover {
			text-decoration: none;
		}

		.speaker_hover {
			@include display(flex);
			@include align-items(flex-end);
			@include justify-content(center);
			height: 100%;
			min-height: 210px; // same as min-height of .speaker
			margin: 0;

			&:hover{
				background-color: rgba(34, 48, 63, 0.6);
			}
		}

		.textcontainer {
			text-align: center;
			margin: 0;
			padding-bottom: 1rem;
			width: 100%;
		}

		span {
			display: block;
			width: 100%;
			color: $ador-orange;
		}

		.company {
			display: block;
			color: white;
			font-size: 16px;
			font-weight: bold;
			text-shadow: 0 0 2px #262626;
		}
	}
}

.loading-wrap.speakers {
	@include ador-default-flex();
	text-align: center;
	min-height: 420px;
}
